h1{
    color:blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 margin-left: 300px; 
 background: red  
}
img{
    width:100px;
    margin-left: 500px;
}

p{
    margin-left: 200px;
}
aside
{
 background: red;
 float : left;   
 width: 10%;
}
blockquote{
    text-align: center;
    border:1px solid white;
    margin: auto;
    background: blue;
}
aside ul{
    list-style: none;
}
.wrap
{
    width: 80%;
    background:gold;
    float :left;
    text-align-last: auto;
}